<div>
    <div class="container">
      <h1><i class="fas fa-film"></i>MOVIE LIST</h1>
      <p>Watch Lists</p>
      <div class="mt-4 btn-div"><%= link_to "Create a new movie list", new_list_path, class: "btn btn-banner" %></div>
    </div>
  </div>
